.logo {
	height: 120px;
	margin: 16px;
	border-bottom: 1px solid rgb(136, 136, 136);
	img {
		width: 80%;
		height: 80%;
	}
}

.site-layout-sub-header-background {
	background: #fff;
}

.site-layout-background {
	background: #fff;
}
